:root
{
	--col1: #111111;
	--col2: #222222;
	--col3: #444444;
	--col4: #666666;
	--col5: #ffffff;
	--col6: #00bf00;
	--col7: #bf0000;
	--col8: #7fff7f;
	--col9: #ff7f7f;
	--col10: #41df41;
	--col11: #df4141;
}

body
{
	background-color: var(--col1);
	color: var(--col5);
	margin: 0;
	padding: 0;
}

button, input
{
	color: white;
	border-radius: 10px;
	padding: 5px 10px;
}

input::placeholder
{
	color: var(--col3);
}

.button, .textbox
{
	border: 2px solid var(--col3);
	background-color: var(--col2);
}

.button:hover
{
	background-color: var(--col4);
}

.button:disabled
{
	background-color: var(--col3);
}

.main
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}

.diff
{
	margin: 0 0 10px;
	gap: 10px;
}

.word
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--col3);
	border-radius: 20px;
	background-color: var(--col2);
	width: 400px;
	height: 300px;
	font-size: 24px;
	margin: 0 0 20px;
}

.nav
{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 0 10px;
	gap: 20px;
}

.input
{
	display: flex;
	flex-direction: row;
	margin: 0 0 10px;
	gap: 10px;
}

.check
{
	background-color: var(--col6);
	border: 0;
}

.check:hover
{
	background-color: var(--col8);
}

.check:disabled
{
	background-color: var(--col10);
}

.stats
{
	display: flex;
	flex-direction: row;
	width: 200px;
	gap: 30px;
	justify-content: center;
	font-size: 20px;
}